<div class="block-header">
    <div class="row">
        <div class="col-lg-7 col-md-6 col-sm-12">
            <h2>Devotionals</h2>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/dashboard']"><i class="zmdi zmdi-home"></i> :: Devotional :: App ::</a></li>
                <li class="breadcrumb-item active">Subscriptions</li>
            </ul>
            <button class="btn btn-primary btn-icon mobile_menu" type="button"><i class="zmdi zmdi-sort-amount-desc"></i></button>
        </div>
        <div class="col-lg-5 col-md-6 col-sm-12">                
            <button class="btn btn-primary btn-icon float-right right_icon_toggle_btn" type="button" (click)="toggleRightBar()"><i class="zmdi zmdi-arrow-right"></i></button>
        </div>
    </div>
        
        <div class="row clearfix">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card state_w1">
                    <div class="body d-flex justify-content-between">
                        <div>
                            <h5>{{pastorinfo.activemembers}}</h5>
                            <span>Active Subscriptions</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card state_w1">
                    <div class="body d-flex justify-content-between">
                        <div>                                
                            <h5>{{pastorinfo.inactivemembers}}</h5>
                            <span>Inactive Subscriptions</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card state_w1">
                    <div class="body d-flex justify-content-between">
                        <div>
                            <h5>{{pastorinfo.pastorwallet}}</h5>
                            <span>Wallet Amount</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card state_w1">
                    <div class="body d-flex justify-content-between">
                        <div>                            
                            <h5>{{pastorinfo.devotionalunits}}</h5>
                            <span>Devotional units</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row clearfix">
            <div class="col-lg-12">
                <div class="card">
                    <div class="table-responsive">
                        <table class="table table-hover mb-0 c_list c_table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>FirstName</th>                                    
                                    <th data-breakpoints="xs">MiddleName</th>
                                    <th data-breakpoints="xs sm md">Phone</th>
                                    <th data-breakpoints="xs sm md">StartDate</th>
                                    <th data-breakpoints="xs sm md">Enddate</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let member of members">
                                    <td>
                                        <p>{{member.id}}</p>
                                    </td>
                                    <td>
                        
                                        <p class="c_name">{{ member.firstname}}</p>
                                    </td>
                                    <td>
                                        <span class="phone">{{member.lastname}}</span>
                                    </td>
                                    <td>
                                        <span class="email"><a href="javascript:void(0);" title="">{{member.phone_number}}</a></span>
                                    </td>
                                    <td>
                                        <address>{{member.startdate}}</address>
                                    </td>
                                    <td>
                                        <address>{{member.enddate}}</address>
                                    </td>
                                    <!-- <td>
                                        <button class="btn btn-primary btn-sm"><i class="zmdi zmdi-edit"></i></button>
                                        <button class="btn btn-danger btn-sm"><i class="zmdi zmdi-delete"></i></button>
                                    </td> -->
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>


</div>
