<body class="theme-blush">

    <div class="authentication">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-12">
                    <p *ngIf="error">
                        {{error}}
                    </p>
                    <form class="card auth_form" (ngSubmit)="submit(f)" #f="ngForm" >
                        <div class="header">
                            <img class="logo" src="assets/images/logo.svg" alt="">
                            <h5>Log in</h5>
                        </div>
                        <div class="body">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="Email" ngModel name="email">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="zmdi zmdi-account-circle"></i></span>
                                </div>
                            </div>
                            <div class="input-group mb-3">
                                <input type="password" class="form-control" placeholder="Password" ngModel name="password">
                                <div class="input-group-append">                                
                                    <span class="input-group-text"><a class="forgot" title="Forgot Password"><i class="zmdi zmdi-lock"></i></a></span>
                                </div>                            
                            </div>
                            <div class="row clearfix">
                                <div class="col-sm-12">
                                    <select class="form-control show-tick" ngModel name="person">
                                        <option value="">-- Login as select --</option>
                                        <option value="pastor">Pastor</option>
                                        <option value="church">Church</option>
                                    </select>
                                </div>
                            </div>
                            <br>
                            <button type="submit" class="btn btn-primary btn-block waves-effect waves-light">SIGN IN</button>
                        </div>
                    </form>
                    <div class="copyright text-center">
                        &copy;
                        <script>document.write(new Date().getFullYear())</script>,
                        <span>Designed by <a href="http://sikika-ke.co.ke/" target="_blank">Sikika Software Ltd</a></span>
                    </div>
                </div>
                <div class="col-lg-8 col-sm-12">
                    <div class="card">
                        <img src="assets/images/signin.svg" alt="Sign In"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Jquery Core Js -->
    <!-- <script src="assets/bundles/libscripts.bundle.js"></script>
    <script src="assets/bundles/vendorscripts.bundle.js"></script>  -->
    <!-- Lib Scripts Plugin Js -->
    </body>